.git
.gitignore
.gitattributes
.env
.env.backup
.env.production
.idea
.vscode
.zed
.nova
.cursor
.codex
.phpunit.cache
.phpunit.result.cache
.phpactor.json
node_modules
vendor
public/build
public/hot
public/storage
public/fonts-manifest.dev.json
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
storage/logs/*
storage/pail
storage/*.key
tests
phpunit.xml
README.md
Homestead.json
Homestead.yaml
auth.json
*.log
.DS_Store
Thumbs.db
design
